numpy==1.24.*
pandas==2.0.*
scanpy==1.9.*
anndata==0.9.*
celltypist==1.6.*

# Ensure setuptools is properly installed.
# In some environments it might not be installed properly causing import errors when using celltypist.
# https://stackoverflow.com/questions/7446187/no-module-named-pkg-resources
setuptools